/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/spec/tss/fixtures/*
/spec/tss/trie/search_high_load_spec.rb
# rspec failure tracking
.rspec_status
*.gem
.ruby-gemset
.ruby-version
Gemfile.lock